nodeRed/SeePilot.json
[
    {
        "id": "8bc02d2cd77092f8",
        "type": "tab",
        "label": "Seed PILOT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "564a9cba19c2bc96",
        "type": "ui_tab",
        "name": "Paramétrage",
        "icon": "settings",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a5f6c3d7b9e4",
        "type": "ui_tab",
        "name": "Lancement de l'enregistrement",
        "icon": "camera_roll",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f899a08a0af76d49",
        "type": "ui_group",
        "name": "Paramétrage (son)",
        "tab": "564a9cba19c2bc96",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "4402a57f897c8600",
        "type": "ui_group",
        "name": "Paramétrage (caméra)",
        "tab": "564a9cba19c2bc96",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "bbd3e3f3bc9b",
        "type": "ui_group",
        "name": "Lancement de l'enregistrement",
        "tab": "a5f6c3d7b9e4",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "57d43aab7004fac7",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "SeedPilot",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8e239b0d5cb9746b",
        "type": "mqtt-broker",
        "name": "MQTT Local",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ba7648b8.35c9f8",
        "type": "mqtt-broker",
        "name": "MQTT Local",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d783cb980c3979fc",
        "type": "ui_group",
        "name": "Enregistrement du fichier de paramétrage (.json)",
        "tab": "564a9cba19c2bc96",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1899631ef10e7f34",
        "type": "ui_tab",
        "name": "Tab 4",
        "icon": "dashboard",
        "order": 4
    },
    {
        "id": "9637f06ea0ba9ba2",
        "type": "mqtt-broker",
        "name": "MQTT Raspi GasStation",
        "broker": "192.168.1.101",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b69433cf8898e6d1",
        "type": "ui_tab",
        "name": "Sched Manager",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a9b09a7771d2a745",
        "type": "ui_group",
        "name": "Data",
        "tab": "b69433cf8898e6d1",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8c0bc7cfd358e8e4",
        "type": "ui_group",
        "name": "CONTROLS",
        "tab": "b69433cf8898e6d1",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "49c57ff1a7ae9348",
        "type": "ui_group",
        "name": "CONFIG Temperature",
        "tab": "b69433cf8898e6d1",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "71e511aeec2d1cf7",
        "type": "ui_group",
        "name": "Fan Update",
        "tab": "b69433cf8898e6d1",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "96076adde0e73ffb",
        "type": "ui_group",
        "name": "Sched Light",
        "tab": "b69433cf8898e6d1",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "33071936bbcac7e0",
        "type": "mqtt in",
        "z": "8bc02d2cd77092f8",
        "name": "",
        "topic": "esp32/seedpilot",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9637f06ea0ba9ba2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 40,
        "wires": [
            [
                "b06ca78a19d79b92"
            ]
        ]
    },
    {
        "id": "89ebf4d90cc0fe63",
        "type": "ui_gauge",
        "z": "8bc02d2cd77092f8",
        "name": "Température",
        "group": "a9b09a7771d2a745",
        "order": 1,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Température",
        "label": "°C",
        "format": "{{msg.payload.Temperature}}",
        "min": "15",
        "max": "30",
        "colors": [
            "#0080ff",
            "#25c038",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "26",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 40,
        "wires": []
    },
    {
        "id": "f859070f57309578",
        "type": "comment",
        "z": "8bc02d2cd77092f8",
        "name": "Manual orders",
        "info": "",
        "x": 90,
        "y": 240,
        "wires": []
    },
    {
        "id": "b06ca78a19d79b92",
        "type": "json",
        "z": "8bc02d2cd77092f8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 310,
        "y": 40,
        "wires": [
            [
                "89ebf4d90cc0fe63",
                "af677c3a9ce71e6b",
                "e712541d74dc0856",
                "7a562de10e962aef"
            ]
        ]
    },
    {
        "id": "af677c3a9ce71e6b",
        "type": "function",
        "z": "8bc02d2cd77092f8",
        "name": "function 1",
        "func": "msg.payload = msg.payload.Temperature;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 150,
        "wires": [
            []
        ]
    },
    {
        "id": "4a1d906f7f059c75",
        "type": "ui_button",
        "z": "8bc02d2cd77092f8",
        "name": "",
        "group": "8c0bc7cfd358e8e4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Light On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "default",
        "payload": "{\"order\":\"LightOn\"}",
        "payloadType": "str",
        "topic": "esp32/input/seedpilot",
        "topicType": "msg",
        "x": 260,
        "y": 320,
        "wires": [
            [
                "6f7435979abfab6c"
            ]
        ]
    },
    {
        "id": "6f7435979abfab6c",
        "type": "mqtt out",
        "z": "8bc02d2cd77092f8",
        "name": "",
        "topic": "esp32/input/seedpilot",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9637f06ea0ba9ba2",
        "x": 580,
        "y": 390,
        "wires": []
    },
    {
        "id": "e712541d74dc0856",
        "type": "debug",
        "z": "8bc02d2cd77092f8",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 210,
        "wires": []
    },
    {
        "id": "a068f1339591a83e",
        "type": "ui_button",
        "z": "8bc02d2cd77092f8",
        "name": "",
        "group": "8c0bc7cfd358e8e4",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Light Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "default",
        "payload": "{\"order\":\"LightOff\"}",
        "payloadType": "str",
        "topic": "esp32/input/seedpilot",
        "topicType": "msg",
        "x": 260,
        "y": 360,
        "wires": [
            [
                "6f7435979abfab6c"
            ]
        ]
    },
    {
        "id": "c52e7caad7e9ec9c",
        "type": "ui_button",
        "z": "8bc02d2cd77092f8",
        "name": "",
        "group": "8c0bc7cfd358e8e4",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Heater On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "default",
        "payload": "{\"order\":\"HeaterOn\"}",
        "payloadType": "str",
        "topic": "esp32/input/seedpilot",
        "topicType": "msg",
        "x": 250,
        "y": 400,
        "wires": [
            [
                "6f7435979abfab6c"
            ]
        ]
    },
    {
        "id": "f43ebfea82a874ad",
        "type": "ui_button",
        "z": "8bc02d2cd77092f8",
        "name": "",
        "group": "8c0bc7cfd358e8e4",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Heater Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "default",
        "payload": "{\"order\":\"HeaterOff\"}",
        "payloadType": "str",
        "topic": "esp32/input/seedpilot",
        "topicType": "msg",
        "x": 250,
        "y": 440,
        "wires": [
            [
                "6f7435979abfab6c"
            ]
        ]
    },
    {
        "id": "270f33fce557fb62",
        "type": "function",
        "z": "8bc02d2cd77092f8",
        "name": "Push Button",
        "func": "var state = context.get(\"STATE\")||0;\n\n//  Look for a !X message to get values.\nif (msg.payload != \"X\")     //Do this if the message is NOT \"X\"\n{\n    //\n    //  Background colours first.\n    //\n    context.set(\"ABGC\", msg.colourA);\n    context.set(\"BBGC\", msg.colourB);\n    //\n    //  Now do text.\n    //\n    context.set(\"Atxt\", msg.txtA);\n    context.set(\"Btxt\", msg.txtB);\n    //\n    //  Font colours.\n    //\n    context.set(\"AFC\",msg.txtclrA);\n    context.set(\"BFC\",msg.txtclrB);\n    //\n    //  Payloads.\n    //\n    context.set(\"PayloadA\", msg.payloadA);\n    context.set(\"PayloadB\", msg.payloadB);\n    //\n    //  Topic.\n    //\n    if (msg.topicSET !== null)\n    {\n        context.set(\"Topic\",msg.topicSET);\n    } else\n    {\n        context.set(\"Topic\",\"~\");\n    }\n    return;\n}\n//      Now on to the real stuff.\nif (msg.payload == \"X\")\n{\n    state = (state + 1)% 2;\n    //node.warn(state);\n    context.set(\"STATE\",state);\n}\nif (state === 0)\n{\n    //  Condition A\n    msg.payload = context.get(\"PayloadA\");\n    msg.colour = context.get(\"ABGC\");\n    msg.txt = context.get(\"Atxt\");\n    msg.fontclr = context.get(\"AFC\");\n} else\n{\n    //  Condition B\n    msg.payload = context.get(\"PayloadB\");\n    msg.colour = context.get(\"BBGC\");\n    msg.txt = context.get(\"Btxt\");\n    msg.fontclr = context.get(\"BFC\");\n}\nif (context.get(\"Topic\") == \"~\")\n{\n    msg.topic = \"\";\n} else\n{\n    msg.topic = context.get(\"Topic\");\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 90,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "c51050073bf1a2e1",
        "type": "ui_form",
        "z": "8bc02d2cd77092f8",
        "name": "",
        "label": "",
        "group": "49c57ff1a7ae9348",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Temperature Max",
                "value": "seedTemperatureMax",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Temperature Low",
                "value": "seedTemperatureLow",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Temperature High",
                "value": "seedTemperatureHigh",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "fanInterval",
                "value": "fanInterval",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "fanActivation_duration",
                "value": "fanActivation_duration",
                "type": "number",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "seedTemperatureMax": "",
            "seedTemperatureLow": "",
            "seedTemperatureHigh": "",
            "fanInterval": "",
            "fanActivation_duration": ""
        },
        "payload": "",
        "submit": "Save Config",
        "cancel": "Cancel",
        "topic": "topic",
        "topicType": "str",
        "splitLayout": "",
        "className": "",
        "x": 230,
        "y": 660,
        "wires": [
            [
                "0ab48d8d7ab5795a"
            ]
        ]
    },
    {
        "id": "0ab48d8d7ab5795a",
        "type": "function",
        "z": "8bc02d2cd77092f8",
        "name": "function 2",
        "func": "var config= {};\nconfig = {\n    \"order\": \"updateConfig\",\n    \"seedTemperatureMax\": msg.payload.seedTemperatureMax,\n    \"seedTemperatureLow\": msg.payload.seedTemperatureLow,\n    \"seedTemperatureHigh\": msg.payload.seedTemperatureHigh,\n    \"fanInterval\": msg.payload.fanInterval,\n    \"fanActivation_duration\": msg.payload.fanActivation_duration,\n    \"schedLight_On\": msg.payload.schedLight_On,\n    \"schedLight_Off\": msg.payload.schedLight_Off\n};\nmsg.payload = config;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 680,
        "wires": [
            [
                "45027cdf0432d3c9",
                "6f7435979abfab6c"
            ]
        ]
    },
    {
        "id": "45027cdf0432d3c9",
        "type": "debug",
        "z": "8bc02d2cd77092f8",
        "name": "Config Log2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 690,
        "wires": []
    },
    {
        "id": "2a996ed5f9d9d678",
        "type": "ui_button",
        "z": "8bc02d2cd77092f8",
        "name": "",
        "group": "8c0bc7cfd358e8e4",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "get Config",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "default",
        "payload": "{\"order\":\"getConfig\"}",
        "payloadType": "str",
        "topic": "esp32/input/seedpilot",
        "topicType": "msg",
        "x": 230,
        "y": 600,
        "wires": [
            [
                "6f7435979abfab6c"
            ]
        ]
    },
    {
        "id": "8d1ba7e628018204",
        "type": "ui_form",
        "z": "8bc02d2cd77092f8",
        "name": "",
        "label": "",
        "group": "71e511aeec2d1cf7",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "fanInterval",
                "value": "fanInterval",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "fanActivation_duration",
                "value": "fanActivation_duration",
                "type": "number",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "fanInterval": "",
            "fanActivation_duration": ""
        },
        "payload": "",
        "submit": "Save Config",
        "cancel": "Cancel",
        "topic": "topic",
        "topicType": "str",
        "splitLayout": "",
        "className": "",
        "x": 230,
        "y": 720,
        "wires": [
            [
                "0ab48d8d7ab5795a"
            ]
        ]
    },
    {
        "id": "ec05e853b6a9b5e9",
        "type": "ui_form",
        "z": "8bc02d2cd77092f8",
        "name": "",
        "label": "",
        "group": "96076adde0e73ffb",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Light On",
                "value": "schedLight_On",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Light Off",
                "value": "schedLight_Off",
                "type": "number",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "schedLight_On": "",
            "schedLight_Off": ""
        },
        "payload": "",
        "submit": "Save Config",
        "cancel": "Cancel",
        "topic": "topic",
        "topicType": "str",
        "splitLayout": "",
        "className": "",
        "x": 250,
        "y": 780,
        "wires": [
            [
                "0ab48d8d7ab5795a"
            ]
        ]
    },
    {
        "id": "35f1aee93a2c43de",
        "type": "ui_button",
        "z": "8bc02d2cd77092f8",
        "name": "",
        "group": "8c0bc7cfd358e8e4",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Fan Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "default",
        "payload": "{\"order\":\"FanOff\"}",
        "payloadType": "str",
        "topic": "esp32/input/seedpilot",
        "topicType": "msg",
        "x": 240,
        "y": 540,
        "wires": [
            [
                "6f7435979abfab6c"
            ]
        ]
    },
    {
        "id": "8853ce29cf710912",
        "type": "ui_button",
        "z": "8bc02d2cd77092f8",
        "name": "",
        "group": "8c0bc7cfd358e8e4",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Fan On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "default",
        "payload": "{\"order\":\"FanOn\"}",
        "payloadType": "str",
        "topic": "esp32/input/seedpilot",
        "topicType": "msg",
        "x": 270,
        "y": 480,
        "wires": [
            [
                "6f7435979abfab6c"
            ]
        ]
    },
    {
        "id": "7a562de10e962aef",
        "type": "ui_gauge",
        "z": "8bc02d2cd77092f8",
        "name": "Air Température",
        "group": "a9b09a7771d2a745",
        "order": 2,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Air Température",
        "label": "°C",
        "format": "{{msg.payload.AirTemperature}}",
        "min": "15",
        "max": "30",
        "colors": [
            "#0080ff",
            "#25c038",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "26",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 90,
        "wires": []
    },
    {
        "id": "848dfdd85f0b5546",
        "type": "ui_button",
        "z": "8bc02d2cd77092f8",
        "name": "",
        "group": "8c0bc7cfd358e8e4",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear Mqtt Message",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "default",
        "payload": "\"\"",
        "payloadType": "str",
        "topic": "esp32/input/seedpilot",
        "topicType": "msg",
        "x": 310,
        "y": 870,
        "wires": [
            [
                "6f7435979abfab6c"
            ]
        ]
    }
]